*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  text-align: center;
}

.container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 25%;
  box-shadow: 3px 3px 8px hsl(0, 0%, 10%);
}

.box {
  /* margin-top: 30px; */
}

.card-heading {
  font-weight: 600;
  background-color: rgb(47, 100, 247);
  font-size: 1.65rem;
  padding: 5px 10px 10px 20px;
}

.card-heading h2 {
  font-size: 2rem;
  font-weight: 600;
}

ul {
  background-color: hsl(0, 0%, 96%);
  color: #000;
  padding: 25px;
}

li {
  padding: 10px;
  min-height: 40px;
  background-color: #fff;
  color: #000;
  border: 1px solid hsl(0, 0%, 80%);
}